# Ignore all __init__.py files
**/__init__.py

# Ignore the virtual environment directory
venv/
dir-name/

# Ignore API keys file
config/api_keys.json
config/googlauth.json

# Ignore training data
src/wake_word_data
src/wake_word_data/wake_word_utils/splitter_results

# Ignore all temporary files
temp/